In [1]:
import sys
import os
import gc

import pandas as pd

In [2]:
df = pd.read_csv("/datasets/iowaliquor.csv")

/opt/tljh/user/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S08096000008,10/04/2012,4641,Kum & Go #573 / SE 14th DM,5830 SE 14th ST,DES MOINES,50315,NaN,77.0,Polk,...,89191,Jose Cuervo Especial Reposado Tequila Mini,12,500,11.50,17.25,1,17.25,0.50,0.13
1,S23102300041,12/20/2014,4346,Roy's Foodland,105 PEARL ST,SHELLSBURG,52332,POINT (-91.869285 42.094155),6.0,Benton,...,11774,Black Velvet,24,375,3.07,4.61,6,27.66,2.25,0.59
2,S14410500035,09/09/2013,3628,Wal-Mart 1528 / Cedar Rapids,2645 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,POINT (-91.680734 42.034748),57.0,Linn,...,43410,Captain Morgan Parrot Bay Coconut,12,750,7.49,11.23,12,134.76,9.00,2.38
3,S09427600021,12/12/2012,4708,No Frills Supermarkets #803 / Glenwo,423 SHARP ST,GLENWOOD,51534,POINT (-95.742987 41.04635),65.0,Mills,...,24458,Kessler Blend Whiskey,6,1750,11.01,16.52,30,495.60,52.50,13.87
4,S28446900114,10/14/2015,2594,Hy-Vee Food Store / Sioux City,4500 SERGEANT ROAD,SIOUX CITY,51106,POINT (-96.346969 42.447396),97.0,Woodbury,...,10550,Black Velvet Toasted Caramel,12,750,6.75,10.13,12,121.56,9.00,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19445826,S04352000044,03/01/2012,4251,Aj's Liquor / Ames,4518 MORTENSON RD STE 109,AMES,50014,NaN,85.0,Story,...,35549,Three Olives Rangtang,12,750,10.16,15.74,1,15.74,0.75,0.20
19445827,S17439900018,02/18/2014,3390,Okoboji Avenue Liquor,1610 OKOBOJI AVENUE,MILFORD,51351,POINT (-95.149955 43.331525),30.0,Dickinson,...,34422,Grey Goose Vodka,6,1000,21.77,32.66,18,587.88,18.00,4.76
19445828,S18889000013,05/12/2014,2584,Hy-Vee Food Store / Fort Madison,2606 AVENUE L,FORT MADISON,52627,POINT (-91.343544 40.626988),56.0,Lee,...,34008,Absolut Swedish Vodka 80 Prf,6,1750,20.00,29.99,6,179.94,10.50,2.77
19445829,S13036000084,06/27/2013,2637,Hy-Vee #5 / Davenport,2351 W LOCUST,DAVENPORT,52804,POINT (-90.611972 41.538207),82.0,Scott,...,64868,Fireball Cinnamon Whiskey,6,1750,14.66,21.99,6,131.94,10.50,2.77
19445830,S27528700006,08/25/2015,4291,Fareway Stores #597 / Creston,105 E ADAMS ST,CRESTON,50801,POINT (-94.237509 40.715722),88.0,Union,...,36308,Hawkeye Vodka,6,1750,7.17,10.76,6,64.56,10.50,2.77